{% extends "layout.html" %}

{% block title %}
: Edit User Info
{% endblock %}

{% block main %}
<body class="edit_user_info_container">
    <div class="text_inside">
        <p class="main_title">Add or edit your information</p>
        {% if error %}
            <p class=error><strong></strong> {{ error }}</p>
        {% endif %}

        <form action="{{ url_for('edit_variable', variable=variable) }}" method="POST">
            <p>Current {{variable}}: {{ old_variable }} <input type="text" autocomplete="off" name={{ variable }} placeholder="New {{ variable }}">           
            <p style="padding-top: 10px;"></p>
            <input class="update_button" name="username_submit" type="submit" value="Update {{ variable }}!"></p>
        </form>
    </div>
</body>
{% endblock %}