{% extends "layout.html" %}

{% block title %}
: Edit User Info
{% endblock %}

{% block main %}
<body class="actual_container">
    <h1>Add or edit your information</h1>
    {% if error %}
        <p class=error><strong></strong> {{ error }}</p>
    {% endif %}

    <form action="{{ url_for('edit_variable', variable=variable) }}" method="POST">
        <p>Current {{variable}}: {{ old_variable }} <input type="text" autocomplete="off" name={{ variable }} placeholder="New {{ variable }}">           
        <input class="" name="username_submit" type="submit" value="Update {{ variable }}!"></p>
    </form>
</body>
{% endblock %}