{% extends "layout.html" %}

{% block title %}
: Home
{% endblock %}

{% block main %}
    <body class="actual_container">
    <div class="home_main_container">
        <h1 class="main_title">Welcome {{ g.user[1] }}!</h1>
        <div class="home_sec_container">
            {% if error %}
                <p class=error> {{ error }}</p>
            {% endif %}
            <button class="home_button"><a href="{{ url_for('search') }}">Search for Notes</a></button>
            <button class="home_button"><a href="{{ url_for('sell') }}">Sell Notes</a></button>
        </div>
        <!-- <div class="search_button_container">
            <button class="search_button"><a href="{{ url_for('search') }}">Search for a book</a></button>
        </div> -->
    </div>
    </body>
{% endblock %}