{% extends "layout.html" %}

{% block title %}
: Sell
{% endblock %}

{% block main %}
    <body class="sell_container">
        <div class="first_container">
            <div class="text_inside">
                <h1>Sell your notes!</h1>
                <h3>Steps:</h3>
                <h4>1) Choose a neaningful title for your notes</h6>
                <h4>2) Select the selling price of your notes</h6>
                <h4>3) Select one of the universities from the dropdown menu</h6>
                <h4>4) Select one of the programs from the dropdown menu</h6>
                <h4>5) Click "Next" and upload your file!</h6>
            </div>
        </div>
        <div class="second_container">
            <form action="{{ url_for('sell') }}" method="POST" class="text_inside">
                {# action="{{ url_for('sell') }}" #}
                    {% if error %}
                        <p class=error><strong></strong> {{ error }}</p>
                    {% endif %}
                    
                    1) <input type="text" autocomplete="off" name="note_title" placeholder="Give a meaningfull title for you notes." style="width: 400px">
                    <p style="padding-top: 10px;"></p>
                    <div class="slidecontainer">
                        <p>2) Choose the selling price of your notes by dragging the slidder below.</p>
                        <input type="range" min="0" max="50" step="0.01" value="5" class="slider" name="note_price" id="myRange">
                        <p>Value: <span id="demo"></span></p>
                    </div>
                    3)<select size="1" id="uni_choice" name="uni_choice">
                        <option value="" selected disabled hidden>Choose your university</option>
                        <option value="National_and_Kapodistrian_University_of_Athens">National and Kapodistrian University of Athens</option>
                        <option value="National_Technical_University_of_Athens">National Technical University of Athens</option>
                        <option value="Aristotle_University_of_Thessaloniki">Aristotle University of Thessaloniki</option>
                    </select>
                    <p style="padding-bottom: 10px;"></p>
                    <div class="container">
                        <div class="National_and_Kapodistrian_University_of_Athens">
                            4)<select name="program_choice" id="program_choice">
                                <option value="" selected disabled hidden>Choose your program</option>
                                <option value="BSc_Economics">BSc Economics</option>
                                <option value="BSc_Law">BSc Law</option>
                            </select>
                            <p style="padding-top: 20px;"></p>
                            5)<input class="next_button" type="submit" value="Next!">
                        </div>
                        <div class="National_Technical_University_of_Athens">
                            4)<select name="program_choice" id="program_choice">
                                <option value="" selected disabled hidden>Choose your program</option>
                                <option value="BSc_Maths">BSc Maths</option>
                                <option value="BSc_Physics">BSc Physics</option>
                            </select>
                            <p style="padding-top: 20px;"></p>
                            5)<input class="next_button" type="submit" value="Next!">
                        </div>
                        <div class="Aristotle_University_of_Thessaloniki">
                            4)<select name="program_choice" id="program_choice">
                                <option value="" selected disabled hidden>Choose your program</option>
                                <option value="BSc_History">BSc History</option>
                                <option value="BSc_Economics">BSc Economics</option>
                            </select>
                            <p style="padding-top: 20px;"></p>
                            5)<input class="next_button" type="submit" value="Next!">
                        </div>
                    </div>
                    <script>
                        $(document).ready(function() {
                            $('#uni_choice').bind('change', function() {
                                var elements = $('div.container').children().hide(); // hide all the elements
                                var value = $(this).val();
        
                                if (value.length) { // if somethings' selected
                                    elements.filter('.' + value).show(); // show the ones we want
                                }
                            }).trigger('change');
                        });
                    </script>
                    <script>
                        var slider = document.getElementById("myRange");
                        var output = document.getElementById("demo");
                        output.innerHTML = slider.value; // Display the default slider value
                        
                        // Update the current slider value (each time you drag the slider handle)
                        slider.oninput = function() {
                        output.innerHTML = this.value;
                    }
                </script>
                </form>
        </div>
    </body>
{% endblock %}